{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-sm-9">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Produkcja</h5>
        <ul class="list-group list-sm gap-3">
          <a href="{% url 'create-production' %}"><button type="button" class="btn btn-outline-dark col-sm-3 btn-sm">Nowa Karta</button></a>
          {% for production in productions %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <small><a href="{% url 'detail-production' production.id %} " class="link-dark">{{ production.order }}</a></small>
            <span class="badge {% if production.status == 1 %} bg-success  {% elif production.status == 0 %} bg-dark  {% endif %} ">

             {{ production.user.first_name }} {{ production.user.last_name }} | {{ production.date }} | {{ production.get_status_display}}</span>
          </li>
          {% endfor %}   
        </ul>
      </div>
    </div>
  </div>
  {% if request.user.is_superuser %}
  <div class="col-sm-3">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Produkcja</h5>
        <a href="{% url 'raport-production' %}">test</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}