{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'create-offer' %}" class="btn btn-success btn-sm float-start mb-3">Nowa oferta</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <ul class="list-group mt-3">
                    {% for offer in object_list %}
                    <a href="{% url 'detail-offer' offer.id %}"><li class="list-group-item">{{ offer }}</li></a>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}