{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'create-offer' %}" class="btn btn-success btn-sm float-start mb-3">Nowa oferta</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h6>oferty</h6>
                </div>
                <h1>testS</h1>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}