<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Clever Space - Raporty</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
      @font-face {
      font-family: "DejaVuSans";
      src: url("~/domains/nesting.pl/public_python/tmp/fonts/DejaVuSans.ttf");
      src: url("C:/DejaVuSans.ttf");
      }
      body {
      font-family: "DejaVuSans";
      }
   
      h1 {
        text-align: center;
      }
      td, th {
        text-align: center;
        border-bottom: 1px solid #000;
        padding-top: 5px;
      }
    </style>
</head>
<body>
      <h1>
        raport
        {% if date == "month" %}
          miesięczny
        {% elif date == "week" %}
          tygodniowy
        {% elif date == "today" %}
          dobowy
        {% endif %}
      </h1>
      <h1>{{ cash.title }} - {{ cash.amount }}zl</h1>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Data <br> użytkownik </td>
            <td>Tytyłem</td>
            <td>Nr wew.</td>
            <td>IW/IY</td>
            <td>Kwota</td>
            <td>Saldo</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          {% for payment in cash_filtered %}
          <tr>
            <td>{{ payment.id_number }}</td>
            <td>{{ payment.date|date:'d/m/y' }} <br> {{ payment.user.first_name }} {{ payment.user.last_name }}</td>
            <td>{{ payment.title }}</td>
            <td>{{ payment.number }}</td>
            <td>{{ payment.IW_IY }}</td>
            <td>{{ payment.amount }}zl</td>
            <td>{{ payment.cash_amount }}zl</td>
            <td>{{ payment.get_status_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>