<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Clever Space - Raporty</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    
    <style>
        @font-face {
        font-family: "DejaVuSans";
        src: url("~/domains/nesting.pl/public_python/tmp/fonts/DejaVuSans.ttf");
        src: url("C:/DejaVuSans.ttf");
        }
        body {
        font-family: "DejaVuSans";
        font-size: 22px;
        }
     
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
          border-bottom: 1px solid #000;
          padding-top: 5px;
        }
      </style>
</head>
<body>

        
                <table class="table table-bordered border-dark w-auto ">
                    <thead class="table-dark">
                        <tr>
                            <td colspan="2">Nazwa towaru / usługi</td>
                            <td>Ilość</td>
                            <td>Cenna netto</td>
                            <td>Wartość netto</td>
                            <td>VAT %</td>
                            <td>Wartość VAT</td>
                            <td>Wartość brutto</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in offer.offeritem_set.all %}
                       
                            <tr>
                                <td colspan="2">{{ item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price_net_unit }}zł</td>
                                <td>{{ item.price_net }}zł</td>
                                <td>{{ item.get_vat_display }}</td>
                                <td>{{ item.vat_amount}}zł</td>
                                <td>{{ item.price_gross}}zł</td>
                            </tr>
                            
                        {% endfor %}
                        <tr class='border-0 fw-bold'>
                            <td colspan="3" class='border-0'></td>
                            <td class="border-0  float-end">Razem:</td>
                            <td class='border-0'>{{ offer.total_net }}zł</td>
                            <td class='border-0'></td>
                            <td class='border-0'>{{ offer.total_vat }}zł</td>
                            <td class='border-0'>{{ offer.total_gross }}zł</td>
                        </tr>
                    </tbody>
                </table>
            </body>
            </html>