{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card recent-sales">
      <div class="card-body">
       <h5 class="card-title">Nowa karta produkcji</h5>
       <div class="col-sm-5">
       <form method="POST">{% csrf_token %}
       <div class="input-group">
        <input type="text" class="form-control" id="floatingInput" placeholder="Tytuł zamówienia" name="title">
        <button class="btn btn-success bt-sm" type="submit">Nowa karta</button>
       </div>
       </form>
     </div>
    </div>
  </div>
</div>
</div>
{% endblock %}