{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card recent-sales">
      <div class="card-body">
       <h5 class="card-title">Nowa formatka do magazynu </h5>
       <div class="dataTable-top">
        <table class="table table-borderless table-sm">
          <form method="POST" id="stockForm" data-material-url="{% url 'api_load_materials' %}" >{% csrf_token %}
            <tr>
              <th scope="col">Długość(mm)</th>
              <th scope="col">Szerokość(mm)</th>
              <th scope="col">Grupa materiału</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
            <tr>
              <th scope="col">{{ form.length }}</th>
              <th scope="col">{{ form.width }}</th>
              {% if request.resolver_match.view_name == 'stockin' %}
              <th>{{ gender }}</th>
              <th hidden>{{ form.gender }}</th>
               <th>{{ material.material }}</th>
              {% else %}
              <th scole="col">{{ form.gender }}</th>
              <th scope="col">{{ form.material}}</th>
              {% endif %}
              <th scope="col"><button class="btn btn-primary btn-sm" type="submit">Dodaj</button></th>
            </tr>
          </form>
        </table>
      </div>
       </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#id_gender").change(function () {
    var url = $("#stockForm").attr("data-material-url");  
    var genderId = $(this).val();  
    $.ajax({                       
      url: url,                    
      data: {
        'gender': genderId       
      },
      success: function (data) {   
        $("#id_material").html(data);  
      }
    });

  });

  window.onload = function() {
    var url = $("#stockForm").attr("data-material-url");  
    var genderId = document.getElementById('id_gender').value

    $.ajax({                      
      url: url,                   
      data: {
        'gender': genderId       
      },
      success: function (data) {   
        
        $("#id_material").html(data);  
      }
    }); 
  };

</script>
{% endblock %}