{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card recent-sales">
      <div class="card-body">
       <h5 class="card-title">Karta Produkcyjna<span> | Zlecenie: {{ production.order }} | Operator: {{ production.user.first_name }} {{ production.user.last_name }} | {{ production.date }} </span></h5>
       <div class="row">
       <div class="col-sm-12">
       <div class="table-responsive"> 
       <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Materiał</th>
                    <th scope="col">Płyty z Magazynu</th>
                    <th scope="col">Uwagi</th>
                    <th scope="col">Formatka z Magazynu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">{{ production.material }}</th>
                    <th scope="col">{{ production.materialUsed }}</th>
                    <th scope="col">{{ production.comments }}</th>
                    <th scope="col">
                      {% for stock in productionStocks %}
                        {{ stock.length }}x{{ stock.width }} {{ stock.material }}<br>
                     {% endfor %}
                  </th>
                  </tr>
                  <form method="POST">{% csrf_token %}
                  <tr>
                    <th scope="row">{{ form.material }}</th>
                    <td>{{ form.materialUsed }}</td>
                    <td>{{ form.comments }}</td>
                    <td>{{ form.stocks }}</td>
                  </tr>
                  <tr>
                    <td colspan="4"><button type="submit" class="btn btn-primary col-sm-12">Ok</button></td>
                  </tr>
                  </form>
                </tbody>
         </table>
        </div>
     </div>

   </div>

    </div>
  </div>
</div>
</div>
{% endblock %}
 