{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card ">
      <div class="card-body">
       <div class="wrapper">
       <h5 class="card-title">{{ production.order }} - {{ order.customer }}
        <form method="POST" action="{% url 'status' production.id %}">{% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm float-end">Zakończ zlecenie </button>
        </form>
      </h5>
       </div>
       <div class="col-sm-12">

         <div class="table-responsive"> 
           <table class="table table-borderless table-hover table-sm text-start">
            <thead>
              <tr>
                <td colspan="6"><span class="badge {% if production.status == 3 %} bg-success  {% elif production.status == 2 %} bg-dark  {% endif %} ">
             Operator: {{ production.user.first_name }} {{ production.user.last_name }} | {{ production.date }} | {{ production.get_status_display}}</span></td>
              </tr>
              <tr>
                <th scope="col">Materiał</th>
                <th scope="col">Ilość m2</th>
                <th scope="col">Płyty z Magazynu</th>
                <th scope="col" colspan="2">Formatka z Magazynu</th>
                <th scope="col" colspan="2">Formatka do Magazynu</th>
                            
              </tr>
            </thead>
            <tbody>
              {% for material in materials %}
              <tr>
                <td scope="col">{{ material.material }}</td>
                <td scope="col">{{ material.area}}</td>
                <td scope="col">
                  {% if material.quantity != 0 %}
                  <a href="{% url 'decrement' material.id %}" class="link-dark">
                    <i class="bi bi-dash-square-dotted"></i>
                  </a>
                  {% endif %}
                  {{ material.quantity }}
                  <a href="{% url 'increment' material.id %}" class="link-dark">
                    <i class="bi bi-plus-square-dotted"></i>
                  </a>

                
               
                </td>
                <td scope="col" class="">
                  {% for stock in material.stocks.all %}
                  <p>#{{ stock.number }} {{ stock.length }} x {{ stock.width }} {{ stock.material }}</p>
                  {% endfor %}
                </td>
                <td scope="col"><a href="{% url 'production-filter' material.id %}"><button type="text" class="btn btn-success btn-sm">pobierz</button></a></td>
                <td scope="col">
                  {% for stock in material.productionstockin_set.all %}
                  <p>#{{ stock.number }} {{ stock.length }} x {{ stock.width }} {{ stock.material }}</p>
                  {% endfor %}
                </td>
                <td>
                  <a href="{% url 'stockin' material.id %}"><button type="text" class="btn btn-warning btn-sm">dodaj</button></a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
            <tfooter>
            </tfooter>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
{% include 'stock/summary.html' %}
</div>


{% endblock %}


