{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Magazyn - Formatki </h5>
        <div class="dataTable-top">
        </div>
        <div class="table-responsive">
        <table class="table table-hover">
          {% include 'stock/search.html' %}
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th>Akcja</th> 
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            <tr>
              <td scope="row">{{ stock.id }}</th>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              <td>{{ stock.material }}</td>
              <td><button class="btn bg-danger text-white bt-small"><a href="">użyj</a></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Podsumowanie magazynu</h5>
          <!-- Dark Table -->
          <table class="table table-dark text-left" style="text-align: left">
            <thead>
              <tr>
                <th scope="col">Materiał</th>
                <th scope="col">Liczba Formatek</th>
                <th scope="col">Powierzchnia Formatek</th>
              </tr>
            </thead>
            <tbody>
              {% for material in materials %}
              <tr>
                <th scope="row">{{ material.name }}</th>
                <td>{{ material.stocks.count }}</td>
                <td>
                 {{ material.caluclate_area|floatformat:2 }}m2
               </td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
         <!-- End Dark Table -->
       </div>
     </div>
   </div>
 </div>
{% endblock %}