{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Stan magazynu </h5>
        <table class="table table-hover table-sm text-left" style="text-align: left">
          <thead>
            <tr>
              <th scope="col">Materiał</th>
              <th scope="col">Płyty</th>
              <th scope="col">Powierzchnia płyt</th>
              <th scope="col">Formatki</th>
              <th scope="col">Powierzchnia formatek</th>
            </tr>
          </thead>
          <tbody>
            {% for material in materials %}
            <tr>
              <th scope="col">{{ material.name }}</th>
              <td scope="col">{{ material.quantity }}</td>
              <td scope="col">{{ material.caluclate_material|floatformat:2 }}m2</td>
              <td scope="col">{{ material.stocks.count }}</td>
              <td scope="col">{{ material.caluclate_area|floatformat:2 }}m2</td>
            </tr>
            {% endfor %}
          
         </tbody>
       </table>
        <h5 class="card-title">Formatki <a href="{% url 'create-stock' %}"><button class="btn btn-primary btn-sm">Nowa Formatka</button></a></h5>
       <div class="dataTable-top"></div>
       <div class="table-responsive">
        <table class="table table-borderless table-hover table-sm">
          {% include 'stock/search.html' %}
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            <tr>
              <td scope="row">{{ stock.id }}</td>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              {% if stock.length == 0 %}
              <td><p>------</p></td>
              {% else %}
              <td>{{ stock.material }}</td>
              {% endif %}
              <td>
                {% if stock.length == 0 %}
                <a href="{% url 'add-stock' stock.id %}"><button type="button" class="btn btn-primary btn-sm">dodaj</button></a>
                {% else %}
                <a href="{% url 'take-stock' stock.id %}"><button type="button" class="btn btn-danger btn-sm">weź</button></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      </div>
    </div>
  </div>

  

  <div class="col-sm-6">

    

    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Produkcja</h5>
        <ul class="list-group list-sm gap-3">
          <a href="{% url 'create-production' %}"><button type="button" class="btn btn-outline-dark col-sm-3 btn-sm">Nowa Karta</button></a>
          {% for production in productioins %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <small><a href="{% url 'detail-production' production.id %} " class="link-dark">{{ production.order }}</a></small>
            <span class="badge bg-light text-dark">{{ production.user.first_name }} {{ production.user.last_name }} | {{ production.date }}</span>
          </li>
          {% endfor %}   
        </ul>
      </div>
    </div>

    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Frezy</h5>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Frez</th>
                    <th scope="col">Na stanie</th>
                    <th scope="col">Do ostrzenia</th>
                    <th scope="col">Do kupienia</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cutter in cutters %}
                  <tr>
                    <th scope="row">{{ cutter.name }}</th>
                    <td>{{ cutter.quantity }}</td>
                    <td>{{ cutter.forSharpening }} <a href="{% url 'cutter-sharp' cutter.id %}" class="link-light"><i class="bi bi-plus-square"></i></a></td>
                    <td>{{ cutter.toBuy }} <a href="{% url 'cutter-buy' cutter.id }" class="link-light"><i class="bi bi-plus-square"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
      </div>
    </div>

  </div>
</div>

{% endblock %}