{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Dodaj formatki do karty</h5>
       <div class="dataTable-top"></div>
       <div class="table-responsive">
        <table class="table table-borderless table-hover table-sm">
          {% include 'stock/search.html' %}
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            <tr>
              <td scope="row">{{ stock.id }}</td>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              {% if stock.length == 0 %}
              <td><p>------</p></td>
              {% else %}
              <td>{{ stock.material }}</td>
              {% endif %}
              <td>
                {% if stock.length == 0 %}
                <a href="{% url 'add-stock' stock.id %}"><button type="button" class="btn btn-primary btn-sm">dodaj</button></a>
                {% else %}
                <a href="{% url 'take-stock' stock.id %}"><button type="button" class="btn btn-danger btn-sm">weź</button></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      </div>
    </div>
  </div>

  

  
</div>

{% endblock %}