
<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                       <table class="table table-borderless table-hover table-sm">
                        <form method="GET" class="row" >{% csrf_token %}
   <td></td>
  {% for field in filter.form %}
  <td>
    {{ field }}
  </td>
  {% endfor %}
  <td>
    <button class="btn btn-dark btn-sm" type="submit">szukaj</button>
  </td>

</form>
         
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            <tr>
              <td scope="row">{{ stock.id }}</td>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              <td>{{ stock.material }}mm</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
  </div>
