{% extends 'main.html' %} {% block content %}

<div class="col-sm-9">
  {% if messages %} {% for message in messages %} 
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
  <div
  class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
  role="alert"
> 
{{message}}
</div> 
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

  <div
    class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
    role="alert"
  > 
    Utworzono formatkę z ID #{{ message }}
   </div>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
   <a href="{% url 'label-pdf' message %}"                       class="btn btn-primary btn-sm"
   >Drukuj</a>
 {% endif %}{% endfor %} 


 {% endif %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Formatki
        <a href="{% url 'create-stock' %}"
          ><button class="btn btn-primary btn-sm">Nowa Formatka</button></a
        >
      </h5>
      <h7>Regał A</h7>
      <div class="table-responsive">
        <table class="table table-borderless table-hover table-sm">
          {% include 'stock/search.html' %}
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            {% if stock.rack == 'A'%}
            <tr>
              <td scope="row">{{ stock.rack_id }}</td>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              {% if stock.length == 0 %}
              <td>
                <p>------</p>
              </td>
              {% else %}
              <td>{{ stock.material }}</td>
              {% endif %}
              <td>
                {% if stock.length == 0 %}
                <a href="{% url 'add-stock' stock.id %}"
                  ><button type="button" class="btn btn-primary btn-sm">
                    dodaj
                  </button></a
                >
                {% else %}
                <div class="row">
                  <div class="col">
                    <a
                      href="{% url 'label-pdf' stock.id %}"
                      class="btn btn-primary btn-sm"
                      >Drukuj</a
                    >
                  </div>
                  <div class="col">
                    <a
                      href="{% url 'delete-stock' stock.id %}"
                      class="btn btn-danger btn-sm"
                      >Usuń</a
                    >
                  </div>
                </div>

                {% endif %}
              </td>
            </tr>
            {% endif %}

            {% endfor %}
          </tbody>
        </table>
        <h7>Regał B</h7>
        <table class="table table-borderless table-hover table-sm">
          {% include 'stock/search.html' %}
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Długość</th>
              <th scope="col">Szerokość</th>
              <th scope="col">Materiał</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in filter.qs %}
            {% if stock.rack == 'B'%}
            <tr>
              <td scope="row">{{ stock.rack_id }}</td>
              <td>{{ stock.length }}mm</td>
              <td>{{ stock.width }}mm</td>
              {% if stock.length == 0 %}
              <td>
                <p>------</p>
              </td>
              {% else %}
              <td>{{ stock.material }}</td>
              {% endif %}
              <td>
                {% if stock.length == 0 %}
                <a href="{% url 'add-stock' stock.id %}"
                  ><button type="button" class="btn btn-primary btn-sm">
                    dodaj
                  </button></a
                >
                {% else %}
                <div class="row">
                  <div class="col">
                    <a
                      href="{% url 'label-pdf' stock.id %}"
                      class="btn btn-primary btn-sm"
                      >Drukuj</a
                    >
                  </div>
                  <div class="col">
                    <a
                      href="{% url 'delete-stock' stock.id %}"
                      class="btn btn-danger btn-sm"
                      >Usuń</a
                    >
                  </div>
                </div>

                {% endif %}
              </td>
            </tr>
            {% endif %}

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
