{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card recent-sales">
      <div class="card-body">
       <h5 class="card-title">Nowe zamówienie</h5>
       <div class="col-sm-5">
       <form method="POST">{% csrf_token %}
       <div class="input-group">
       	{{ form.customer }}
        <button class="btn btn-success bt-sm" type="submit">Dalej...</button>
       </div>
       </form>
     </div>
    </div>
  </div>
</div>
</div>
{% endblock %}