{% extends 'main.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12 mb-3">
		<button class="btn btn-primary btn-sm float-end">Nowe zamówienie</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Do realizacji</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">An item</li>
					<li class="list-group-item">A second item</li>
					<li class="list-group-item">A third item</li>
					<li class="list-group-item">A fourth item</li>
					<li class="list-group-item">And a fifth one</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Ukończone</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">An item</li>
					<li class="list-group-item">A second item</li>
					<li class="list-group-item">A third item</li>
					<li class="list-group-item">A fourth item</li>
					<li class="list-group-item">And a fifth one</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}