{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card recent-sales">
      <div class="card-body">
       <h5 class="card-title">
         {{ production.order }} - {{ order.customer }}
          {% if production.status != 3 %}
            {% if production.status == 1 %} 
            <a href="{% url 'edit-production' production.id %}"><button class="btn btn-success btn-sm">Rozpocznij produkcje</button></a>
              {% elif request.user.id == production.user.id or request.user.is_superuser %}
              <a href="{% url 'edit-production' production.id %}"><button class="btn btn-success btn-sm">Edytuj</button></a>
            {% endif %}
          {% endif %}
       </h5>
       <div class="row">
         <div class="col-sm-12">
           <div class="table-responsive"> 
              <table class="table table-borderless table-hover table-sm text-start">
              <thead>
             
                <tr>
                  <th scope="col">Materiał</th>
                  <th scope="col">Ilość m2</th>
                  <th scope="col">Płyty z Magazynu</th>
                  <th scope="col">Formatka z Magazynu</th>
                  <th scope="col">Formatka do Magazynu</th>
                </tr>
              </thead>
              <tbody>
                {% for material in materials %}
                <tr>
                  <td scope="col">{{ material.material }}</td>
                  <td scope="col">{{ material.area}}</td>
                  <td scope="col">{{ material.quantity }}</td>
                  <td scope="col" class="text-start">
                    {% for stock in material.stocks.all %}
                    <p>#{{ stock.id }} {{ stock.length }} x {{ stock.width }} {{ stock.material }}</p>
                    {% endfor %}
                  </td>
                  <td scope="col">
                    {% for stock in material.productionstockin_set.all %}
                    <p>#{{ stock.id }} {{ stock.length }} x {{ stock.width }} {{ stock.material }}</p>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfooter>
                </tfooter>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% if production.status != 1 %}
{% include 'stock/summary.html' %}
{% endif %}
</div>
  

 {% endblock %}


 <tr>
  <td colspan="6"><span class="badge {% if production.status == 3 %} bg-success  {% elif production.status == 2 %} bg-dark  {% endif %} ">
Operator: {{ production.user.first_name }} {{ production.user.last_name }} | {{ production.date }} | {{ production.get_status_display}}</span></td>
</tr>