{% extends 'main.html' %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12">
          <div class="col-sm-6 mt-3 float-start">
            <table class="table table-borderless table-sm text-start">
              <tbody>
                <tr>
                  {% if order.status != 0 %}
                  <td>Zamówienie nr:</td>
                  <td>{{ order }} - {{ order.customer }} </td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Opis:</td>
                  <td>
                    {% if order.description %}
                    {{ order.description }}
                    {% else %}
                    <a href="{% url 'add-description' order.id %}?next={{ request.path }}"
                      class="btn btn-secondary btn-sm">dodaj</a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Status:</td>
                  <td>{{ order.get_status_display }}</td>
                </tr>
                <tr>
                <tr>
                  <td>Płatność:</td>
                  {% if order.settlement == False %}
                  <td>Nierozliczone</td>
                  {% else %}
                  <td>Rozliczone</td>
                  {% endif %}
                </tr>
                <td>Zamawiający:</td>
                <td>{{ order.customer }}</td>
                </tr>
                <tr>
                  <td>Adres:</td>
                  <td>{{ order.customer.address_line_1 }}, {{ order.customer.postcode }} {{ order.customer.town_city }}
                  </td>
                </tr>
                <tr>
                  <td>Tel:</td>
                  <td>{{ order.customer.phone_number }}</td>
                </tr>
              </tbody>
            </table>
          
          </div>
          <div class="d-grid gap-2 col-3 mx-auto float-end mt-3">
            <a href="{% url 'edit-order' order.id %}" class="btn btn-warning btn-sm">Edytuj zamówienie</a>
            {% if order.status != 1 %}
                  <a href="{% url 'detail-production' order.id %}" class="btn btn-warning btn-sm">Zobacz produkcję</a>
            {% endif %}
            {% if order.status == 3 %}
                  <a href="{% url 'detail-production' order.id %}" class="btn btn-success btn-sm">Rozlicz</a>
            {% endif %}
            <a href="{% url 'getpdf' order.id %}" class="btn btn-danger btn-sm">Generuj PDF</a></td>
            <a href="{% url 'send-mail' order.id %}" class="btn btn-success btn-sm">Wyślij email</a></td>
          </div>
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">Materiał</th>
                <th scope="col">Usługi</th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena(m2)</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for ms in materialservices %}
              <tr>
                <td scope="col">
                  {% if ms.material == None %}
                  
                  {% else %}
                  {{ ms.material }}
                  {% endif %}
                </td>
                <td scope="col">{{ ms.services }}</td>
                <td scope="col">
                  {% if ms.services.units == "km" %}
                  {{ ms.area|floatformat:0 }}
                  {% else %}
                  {{ ms.area }}
                  {% endif %}
                  {{ ms.services.units }}</td>
                <td scope="col">{{ ms.price }}pln</td>
                <td scope="col">{{ ms.total|floatformat:2 }}pln</td>
                
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="dark">
              <tr>
                <td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>Razem: </td>
                <td class="fw-bold"> {{ order.get_total|floatformat:2 }}pln</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body pt-3">
        <small>
          <h6>Komentarze:</h6>
          {% for comment in order.comment_set.all %}
          {{ comment.user.first_name }} {{ comment.user.last_name|first }}.
          <p>{{ comment.content }}</p>
          {% endfor %}
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body pt-3">
        <small>
          <h6>Załaczniki:</h6>
          {% for attachment in order.attachment_set.all %}
          <p><a class="link-dark" href="{{ attachment.file.url }}">{{ attachment }}</a></p>
          {% endfor %}
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}