{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12">
          <div class="col-sm-4 mt-3">
            <table class="table table-borderless table-sm text-start">
              <tbody>
                <tr>
                  {% if order.status != 0 %}
                  <td>Zamówienie nr:</td>
                  <td>{{ order.customer }} - {{ order }} </td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Opis:</td>
                  <td>
                    {% if order.description %}
                    {{ order.description }}
                    {% else %}
                    <a href="{% url 'add-description' order.id %}?next={{ request.path }}" class="btn btn-secondary btn-sm">dodaj</a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Status:</td>
                  <td>{{ order.get_status_display }}</td>
                </tr>
                <tr>
                <tr>
                  <td>Płatność:</td>
                  {% if order.settlement == False %}
                  <td>Nierozliczone</td>
                  {% else %}
                  <td>Rozliczone</td>
                  {% endif %}
                </tr>
                <td>Zamawiający:</td>
                <td>{{ order.customer }}</td>
                </tr>
                <tr>
                  <td>Adres:</td>
                  <td>{{ order.customer.address_line_1 }}, {{ order.customer.postcode }} {{ order.customer.town_city }}
                  </td>
                </tr>
                <tr>
                  <td>Tel:</td>
                  <td>{{ order.customer.phone_number }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">Grupa materiałowa</th>
                <th scope="col">Materiał <a href="{% url 'create-material'  %}?next={{ request.path }}"
                    class="text-dark bi bi-plus-square-dotted"></a></th>
                <th scope="col">Usługi <a href="{% url 'create-services' %}?next={{ request.path }}"
                    class="text-dark bi bi-plus-square-dotted"></a></th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena(j.)</th>
                <th scope="col">Total</th>
                <th scope="col">Akcja</th>
              </tr>
            </thead>
            <tbody>
              <form method="POST" id="editOrderForm" data-material-url="{% url 'api_load_materials_production' %}">{% csrf_token %}
                <tr>
                  <td scope="col">{{ form.gender }}</td>
                  <td scope="col">{{ form.material }}</td>
                  <td scope="col">{{ form.services }}</td>
                  <td scope="col">{{ form.area }}</td>
                  <td scope="col">{{ form.price }}</td>
                  <td scope="col"></td>
                  <td scope="col"><button type="submit" name="add" class="btn btn-success btn-sm">Dodaj</button></td>
                </tr>
              </form>
              {% for ms in materialservices %}
              <form method="POST">{% csrf_token %}
                <tr>
                  <td scope="col">
                    {% if ms.gender == None %}
                    
                    {% else %}
                    {{ ms.gender }}
                    {% endif %}
                  </td>
                  <td scope="col">
                    {% if ms.material == None %}
                    
                    {% else %}
                    {{ ms.material }}
                    {% endif %}
                  </td>
                  <td scope="col">{{ ms.services }}</td>
                  <td scope="col">
                    {% if ms.services.units == "km" %}
                    {{ ms.area|floatformat:0 }}
                    {% else %}
                    {{ ms.area }}
                    {% endif %}
                    {{ ms.services.units }}</td>
                  <td scope="col">{{ ms.price }}pln</td>
                  <td scope="col">{{ ms.total|floatformat:2 }}pln</td>
                  <td><button type="submit" name="delete" class="btn btn-danger btn-sm">Usuń</button></td>
                </tr>
                <input type="hidden" name="ms_id" value="{{ ms.id }}"/>
              </form>
              {% endfor %}
            </tbody>
            <tfoot class="dark">
              <tr class="fw-bold">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Razem: </td>
                <td> {{ order.get_total|floatformat:2 }}pln</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
          <form method="POST">{% csrf_token %}
            <button type="submit" name="done" class="btn btn-primary btn-sm float-end">Do realizacji!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body pt-3">
          <small>
            <h6>Komentarze:</h6>
            {% for comment in order.comment_set.all %}
            {{ comment.user.first_name }} {{ comment.user.last_name|first }}.
            <p>{{ comment.content }}</p>
            {% endfor %}
            <form method="POST">{% csrf_token %}
              {{ comment }}
              <button type="submit" name="comment" class="btn btn-primary btn-sm mt-3 float-start">Skomentuj</button>
            </form>
          </small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body pt-3">
          <small>
            <h6>Załaczniki:</h6>
            {% for attachment in order.attachment_set.all %}
            <p><a class="link-dark" href="{{ attachment.file.url }}">{{ attachment }}</a></p>
            {% endfor %}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ attachment }}
              <button type="submit" class="btn btn-success btn-sm  mt-3 ms-3" name="file">Prześlij plik</button>
            </form>
          </small>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#id_gender").change(function () {
      var url = $("#editOrderForm").attr("data-material-url");  
      var genderId = $(this).val();  
      $.ajax({                      
        url: url,                   
        data: {
          'gender': genderId       
        },
        success: function (data) {   
          console.log(data)
          $("#id_material").html(data);  
        }
      });
  
    });
  
  </script>
  {% endblock %}