{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="row">
  <div class="col-12">
    <table class="table table-bordered border-primary text-start">
      <tr>
        <td colspan="2" class="text-center">{{ production.order }}</td>
      </tr>
      <tr>
        <td>Klient:</td>
        <td>{{ order.customer }}</td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>{{ production.get_status_display}}</td>
      </tr>
      <tr>
        <td>Operator:</td>
        <td>{{ production.user.first_name }} {{ production.user.last_name }}</td>
      </tr>
      <tr>
        <td>Data:</td>
        <td>{{ production.date }}</td>
      </tr>
      <tr>
        <td>Komentarz:</td>
        <td>{{ production.comments }}</td>
      </tr>
    </table>
    <div class="d-grid gap-2 col-sm-4 mx-auto float-start mt-3">
      <form method="POST" action="{% url 'status' production.id %}">{% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Zakończ zlecenie </button>
      </form>
      <a href="{% url 'comment-production' production.pk %}?next={{ request.path }}" class="btn btn-dark btn-sm">Dodaj komentarz</a>
      <a href="{% url 'label-production' production.id %}" class="btn btn-dark btn-sm">Drukuj etykietę</a>
    </div>
    </div>
  </div>
</div>
  

  
  
  <div class="col-sm-12">
    <div class="card ">
      <div class="card-body">
 
       <div class="col-sm-12">

         <div class="table-responsive"> 
           <table class="table table-borderless table-hover table-sm text-start">
            <thead>
         
              <tr>
                <th scope="col">Materiał</th>
                <th scope="col">Ilość m2</th>
                <th scope="col">Płyty z Magazynu</th>
                <th scope="col" colspan="2">Formatka z Magazynu</th>
                <th scope="col" colspan="2">Formatka do Magazynu</th>
                            
              </tr>
            </thead>
            <tbody>
              {% for material in materials %}
              <tr>
                <td scope="col">{{ material.material }}</td>
                <td scope="col">{{ material.area}}</td>
                <td scope="col">
                  {% if material.quantity != 0 %}
                  <a href="{% url 'decrement' material.id %}" class="link-dark">
                    <i class="bi bi-dash-square-dotted"></i>
                  </a>
                  {% endif %}
                  {{ material.quantity }}
                  <a href="{% url 'increment' material.id %}" class="link-dark">
                    <i class="bi bi-plus-square-dotted"></i>
                  </a>

                
               
                </td>
                <td scope="col" class="">
                  {% for stock in material.stocks.all %}
                  <p>#{{ stock.number }} {{ stock.length }} x {{ stock.width }} {{ stock.material }}</p>
                  {% endfor %}
                </td>
                <td scope="col"><a href="{% url 'production-filter' material.id %}"><button type="text" class="btn btn-success btn-sm">pobierz</button></a></td>
                <td scope="col">
                  {% for stock in material.productionstockin_set.all %}
                  <p>#{{ stock.number }} {{ stock.length }} x {{ stock.width }} {{ stock.material }} <br>
                    <a href="{% url 'label' stock.id %}" class="link-dark"><span class="badge bg-dark">Drukuj etykietę</span></a></p>
                  {% endfor %}
                </td>
                <td>
                  <a href="{% url 'stockin' material.id %}"><button type="text" class="btn btn-warning btn-sm">dodaj</button></a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
            <tfooter>
            </tfooter>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
{% include 'stock/summary.html' %}
</div>


{% endblock %}


