{% extends 'main.html' %}
{% block content %}
<div class="row">
<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
     <h5 class="card-title">Przyjęcie z zewnątrz</h5>
     	<div class="col-sm-12">
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID </th>
                    <th scope="col">Numer dokumentu </th>
                    <th scope="col">Kontrahent</th>
                    <th scope="col">Przyjęte przez</th>
                    <th scope="col">Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">PZ{{ grn.id|stringformat:"03d" }}</th>
                    <td>{{ grn.documentID }}</td>
                    <td>{{ grn.contractor }}</td>
                    <td>{{ grn.user.first_name }} {{ grn.user.last_name }}</td>
                    <td>{{ grn.date }}</td>
                
                  </tr>                  
          
                </tbody>
              </table>
              <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="4">Materiał</th>
                </tr>
                <tr>
                  <td>Nazwa skrócona</td>
                  <td>Pełna nazwa</td>
                  <td>Ilość(m2)</td>
                  <td>Szt.</td>
                </tr>
              </thead>
              <tbody>
                {% for material in materials %}
                <tr>
                  <th scope="row">{{ material.material.short_name }}</th>
                  <td>{{ material.material.name }}</td>
                  <td>{{ material.area }}</td>
                  <td>{{ material.quantity }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfooter>
              <form method="POST">{% csrf_token %}
                <tr>
                  <td>{{ form.material }}</td>
                  <td></td>
                  <td>{{ form.area }}</td>
                  <td class="text-start"><button class="btn btn-primary btn-sm" type="submit">Dodaj materiał</button></td>

                </tr>
                <tr>
                  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
                </tr>
              </form>
            </tfooter>
            </table>
 
         </div>
   </div>
 </div>
</div>

</div>
{% endblock %}
