<html>
  <head>
<!-- Vendor CSS Files -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<body class="bg-light">
  <div class="container">
    <div class="card p-6 p-lg-10 space-y-4">
      <h1 class="h3 fw-700">
        Witaj, {{ name }}!
      </h1>
      <p>

        Twoje zamówienie zostało przyjęte do realizacji, będziemy informować Pana/Panią o dalszych postępach. </br></br>
        Ta wiadomość została wygenerowana automatycznie i prosimy na nią nie odpowiadać.</br></br>
        W razie potrzeby prosimy o kontakt za pomocą wybranego kanału kontaktu podnego na dole widomośći.</br></br>
        <br>
        Pozdrawiamy!<br>
        Nesting Polska

      </p>
    </div>
 
    <div class="text-muted text-center my-6">
      Nesting Polska Sp. z.o.o <br>
      ul. Odlewnicza 5, 00-000 Warszawa<br>
      Tel. 432432432<br>
      email: pomoc@nesting-polska.net<br>
      skype: adsadas<br>
    </div>
  </div>
</body>
</html>