{% extends 'main.html' %}
{% block content %}
<div class="row">
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
     <h5 class="card-title">Przyjęcie z zewnątrz</h5>
     	<div class="col-sm-12">
     		<form method="POST" action="">{% csrf_token %} 
               <div class="row">
               	<div class="col-sm-6"><p class="text-center fw-bold">numer dokumentu</p> {{ form.documentID }} </div>
      			<div class="col-sm-6"><p class="text-center fw-bold">kontrahent</p> {{ form.contractor }}</div>
               </div>
               <div class="row">
      			<div class="col-sm-12 d-grid gap-2 mt-3"><button type="submit" class="btn btn-primary float-end ">dalej</button></div>
               </div>
                
         </form>
         </div>
   </div>
 </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
     <h5 class="card-title">Historia</h5>
        {% for grn in grns %}
        	<h6 class="small"><a href="{% url 'detail-grn' grn.id %}" class="link-dark">PZ{{ grn.id|stringformat:"03d"}} {{ grn.contractor }}</h6>
        {% endfor %}	
   </div>
 </div>
</div>
</div>
{% endblock %}
