{% extends 'main.html' %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{ filter.form }}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		{% for order in filter.qs %}
		  {{ order }}
		{% endfor %}
		</div>
	</div>
	<div class="col-sm-12 mb-3">
		
		<a href="{% url 'create-order' %}" class="btn btn-primary btn-sm float-end">Nowe zamówienie</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Przygotowywanie ( {{ preparation.count }} )</h5>
				<ul class="list-group list-group-flush">
					{% for order in preparation %}
					<li class="list-group-item"><a href="{% url 'detail-order' order.id %}" class="link-dark">{{ order.customer.company }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Do realizacji ( {{ pending.count }} )</h5>
				<ul class="list-group list-group-flush">
					{% for order in pending %}
					<li class="list-group-item"><a href="{% url 'detail-order' order.id %}" class="link-dark">{{ order }} - {{ order.customer.company }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Produkcja ( {{ during.count }} )</h5>
				<ul class="list-group list-group-flush">
					{% for order in during %}
					<li class="list-group-item"><a href="{% url 'detail-order' order.id %}" class="link-dark">{{ order }} - {{ order.customer.company }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card recent-sales">
			<div class="card-body">
				<h5 class="card-title">Ukończone ( {{ done.count }} ) </h5>
				<ul class="list-group list-group-flush">
				{% for order in done %}
					<li class="list-group-item"><a href="{% url 'detail-order' order.id %}" class="link-dark">{{ order }} - {{ order.customer.company }}</a></li>
			    {% endfor %}	
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}