{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Zamówienie #{{ order.slug }} <span class="badge text-light {% if order.status == 2 %} bg-success {% elif order.status == 1 %} bg-warning {% elif order.status == 0 %} bg-danger {% endif %} ">{{ order.get_status_display }}</span> 
        </h5>
        <div class="table-responsive">
        <table class="table table-borderless table-hover table-sm">
            <thead>
                <th colspan="6" style="text-align: left;">{% if user.request.is_staff %} Tytułem: {{ order.title }} {% endif %}</th>
                <th colspan="4" class="bg-success text-light">Okleina</th>
                <th></th>
              <tr>
                <th scope="col">lp.</th>
                <th scope="col">Dł(mm)</th>
                <th scope="col">Szer(mm)</th>
                <th scope="col">Szt.</th>
                <th scope="col">Opis</th>
                <th scope="col">Materiał</th>
                <th scope="col" class="bg-success text-light">1-dł.</th>
                <th scope="col" class="bg-success text-light">1-szer.</th>
                <th scope="col" class="bg-success text-light">2-dł.</th>
                <th scope="col" class="bg-success text-light">2-szer.</th>
                <th scope="col">Akcja</th>
              </tr>
            </thead>
            <tbody>
                {% for i in item %}
                <tr>
                <td class="bg-dark text-light text-right">{{ i.id }}</td>
                <td>{{ i.width }}</td>
                <td>{{ i.length }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.description|default_if_none:'' }}</td>
                <td title="{{ i.material.name }}">{{ i.material }}</td>
                <td class="bg-success text-light">{{ i.length1|yesno:"Tak,brak" }}</td>
                <td class="bg-success text-light">{{ i.width1|yesno:"Tak,brak" }}</td>
                <td class="bg-success text-light">{{ i.length2|yesno:"Tak,brak" }}</td>
                <td class="bg-success text-light">{{ i.width2|yesno:"Tak,brak" }}</td>
                <td>
                    <a href="{% url 'deleteItem' order.slug i.id %}"><button class="btn btn-danger btn-sm">Usuń</button></a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfooter>
              <form method="POST">{% csrf_token %}
             <tr>
              <th></th>
              <th>{{ form.width }}</th>
              <th>{{ form.length }}</th>
              <th>{{ form.quantity }}</th>
              <th>{{ form.description|default_if_none:"" }}</th>
              <th>{{ form.material }}</th>
              <th class="bg-success text-light">{{ form.length1 }}</th>
              <th class="bg-success text-light">{{ form.width1 }}</th>
              <th class="bg-success text-light">{{ form.length2 }}</th>
              <th class="bg-success text-light">{{ form.width2 }}</th>
              <th><button class="btn btn-primary btn-sm" name="itembtn" type="submit">Dodaj</button></th>
            </tr>
            </form>
            </tfooter>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
    {% include "order/attachments.html" %}
    </div>
    <div class="col-sm-6 ">
    <span class="align-items-center justify-content-center h-100"> Ok, zamawiam !</span>
    </div>
  </div>
  </div>
</div>
{% endblock %}
