{% extends 'main.html' %}
{% block content %}

<div class="row">

  <div class="col-sm-6">
    <div class="card recent-sales">
      <div class="card-body">
        <h5 class="card-title">Zamówienie #{{ order.slug }} <span class="badge text-light {% if order.status == 2 %} bg-success {% elif order.status == 1 %} bg-warning {% elif order.status == 0 %} bg-secondary {% endif %} ">{{ order.get_status_display }}</span></h5>
        <!-- Bordered Table -->
        <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Długość(mm)</th>
                <th scope="col">Szerokość(mm)</th>
                <th scope="col">Ilość(szt.)</th>
                <th scope="col">Opis</th>
                <th scope="col">Okleina</th>
                <th scope="col">Akcja</th>

              </tr>
            </thead>
            <tbody>
                {% for i in item %}
                <tr>
                <td>{{ i.id }}</id>
                <td>{{ i.width }}</td>
                <td>{{ i.lenght }}</td>
                <td>{{ i.quantity }}</td>
                <td>Opis</td>
                <td>Okelina</td>
                <td>akcja</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfooter>
              <form method="POST" class="item-form">{% csrf_token %}
              <th scope="col"></th>
              <th scope="col">{{ form.width }}</th>
              <th scope="col">{{ form.lenght }}</th>
              <th scope="col">{{ form.quantity }}</th>
              <th scope="col"><button class="btn btn-primary btn-login fw-bold" type="submit">Dodaj</button></th>
            </form>
            </tfooter>
          </table>
          <!-- End Bordered Table -->
      </div>
    </div>
  </div>
</div>
{% endblock %}