{% extends 'main.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
      <div class="card">
        <div class="card-body pt-3">
            <form method="POST" action="">{% csrf_token %} 
                    {{ form.old_password }}
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="login">Zaloguj</button>
            
            {% for message in messages %}
            <p class="text-center messages">{{message}}</p>
            {% endfor %}	
            </form>
      </div>
      </div>
      </div>
    </div>
	
{% endblock %}


