{% extends 'auth.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Rejestracja</h5>  
                    <form method="POST" action="">{% csrf_token %} 
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="floatingInput">email</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.first_name }}
                            <label for="floatingInput">Imię</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.last_name }}
                            <label for="floatingInput">Nazwisko</label>

                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password }}
                            <label for="floatingPassword">hasło</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password2 }}
                            <label for="floatingPassword">powtórz hasło</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="register">Zarejestruj</button>
                        </div>
                        {% for message in messages %}
                        <p class="text-center messages">{{message}}</p>
                        {% endfor %}    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

