{% load static %}
<html>
    <head>
        <title>Clever Space - Logowanie</title>
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link rel="stylesheet" href=" {% static 'assets/css/login.css' %} ">
    </head>
    <body class="bg-image" style="background-image: url({% static 'assets/img/bg.jpg' %}); background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;">
        {% block content %}
        
        {% endblock %}

    </body>
</html>