<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
      <h1>Raport dobowy - 23 marca 2022 15:14</h1>
      
      <h1>Kasa nr 1 - 173438,00zl</h1>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Data <br> uzytkownik </td>
            <td>Tytulem</td>
            <td>Nr wew.</td>
            <td>IW/IY</td>
            <td>Kwota</td>
            <td>Saldo</td>
            <td>Status</td>
            
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>21</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>dfs</td>
            <td>dsf</td>
            <td></td>
            <td>55,00zl</td>
            <td>173438,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>20</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>rrr</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>173383,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>19</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>sdfdssss</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>45,00zl</td>
            <td>173328,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>18</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>555</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>5342,00zl</td>
            <td>173283,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>17</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>dsadsa</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>532,00zl</td>
            <td>167941,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>16</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>ettw</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>167409,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>15</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>65,00zl</td>
            <td>167354,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>14</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>terwsd</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>44,00zl</td>
            <td>167289,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>13</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>44,00zl</td>
            <td>167245,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>12</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>teste</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>324,00zl</td>
            <td>167201,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>11</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>fafdsa</td>
            <td>sad</td>
            <td></td>
            <td>555,00zl</td>
            <td>166877,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>10</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>543</td>
            <td>53453</td>
            <td></td>
            <td>53345,00zl</td>
            <td>166322,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>9</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>rew</td>
            <td>dfsds</td>
            <td></td>
            <td>532,00zl</td>
            <td>112977,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>8</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>teadssadsa</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>112445,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>7</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>fdgdfgdfg</td>
            <td>dfgdfgfd</td>
            <td></td>
            <td>66666,00zl</td>
            <td>112390,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>6</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>Janusz Janusz</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>4121,00zl</td>
            <td>45724,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>5</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>Janusz</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>2423,00zl</td>
            <td>41603,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>4</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>Janusz</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>2423,00zl</td>
            <td>39180,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>4</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>test nr 1</td>
            <td>test nr 1</td>
            <td></td>
            <td>12313,00zl</td>
            <td>36812,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>3</td>
            <td>23/03/22 <br> Admin Admin</td>
            <td>test</td>
            <td>test</td>
            <td></td>
            <td>22,00zl</td>
            <td>24499,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
        </tbody>
      </table>
      
</body>
</html>