<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
      <h1>Raport dobowy - 22 marca 2022 15:04</h1>
      
      <h1>test - 148162,00zl</h1>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Data <br> uzytkownik </td>
            <td>Tytulem</td>
            <td>Nr wew.</td>
            <td>IW/IY</td>
            <td>Kwota</td>
            <td>Saldo</td>
            <td>Status</td>
            
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>15</td>
            <td>22/03/22 <br> Test Test</td>
            <td>dsa</td>
            <td>sad</td>
            <td></td>
            <td>55,00zl</td>
            <td>148162,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>12</td>
            <td>22/03/22 <br> Test Test</td>
            <td>432</td>
            <td>432</td>
            <td></td>
            <td>0,00zl</td>
            <td>148052,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>11</td>
            <td>22/03/22 <br> Test Test</td>
            <td>ewqewq</td>
            <td>wqewq</td>
            <td></td>
            <td>0,00zl</td>
            <td>148052,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>10</td>
            <td>22/03/22 <br> Test Test</td>
            <td>tet</td>
            <td>e</td>
            <td></td>
            <td>55,00zl</td>
            <td>148052,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>3</td>
            <td>22/03/22 <br> Test Test</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>147508,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>2</td>
            <td>22/03/22 <br> Test Test</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>147453,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>9</td>
            <td>22/03/22 <br> Test Test</td>
            <td>TEST 1</td>
            <td>TEST 1</td>
            <td></td>
            <td>55,00zl</td>
            <td>45208,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
          <tr>
            <td>8</td>
            <td>22/03/22 <br> Test Test</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>45098,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>7</td>
            <td>22/03/22 <br> Test Test</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>45043,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>4</td>
            <td>22/03/22 <br> Admin Admin</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>147563,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>6</td>
            <td>22/03/22 <br> Admin Admin</td>
            <td>test</td>
            <td>ZO/003/03/22</td>
            <td></td>
            <td>55,00zl</td>
            <td>44933,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>5</td>
            <td>21/03/22 <br> Admin Admin</td>
            <td>sadsadfsad</td>
            <td>ZO/003/03/22</td>
            <td>IY/023/02/35</td>
            <td>434,00zl</td>
            <td>147997,00zl</td>
            <td>Sprawdzony</td>
            
          </tr>
          
        </tbody>
      </table>
      
      <h1>Kasa nr 2 - 4399,00zl</h1>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Data <br> uzytkownik </td>
            <td>Tytulem</td>
            <td>Nr wew.</td>
            <td>IW/IY</td>
            <td>Kwota</td>
            <td>Saldo</td>
            <td>Status</td>
            
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>14</td>
            <td>22/03/22 <br> Test Test</td>
            <td>asd</td>
            <td>asdasd</td>
            <td></td>
            <td>55,00zl</td>
            <td>4399,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>1</td>
            <td>22/03/22 <br> Test Test</td>
            <td>432</td>
            <td>324</td>
            <td></td>
            <td>55,00zl</td>
            <td>4344,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
          <tr>
            <td>13</td>
            <td>22/03/22 <br> Test Test</td>
            <td>432</td>
            <td>324</td>
            <td></td>
            <td>55,00zl</td>
            <td>4289,00zl</td>
            <td>Niesprawdzony</td>
            
          </tr>
          
        </tbody>
      </table>
      
</body>
</html>