
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Oferta nr 29/2022 - Stolarze.eu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura">
    <style>
        @font-face {
            font-family: Jura;
            src: url("/usr/home/Nestingpolska/domains/nesting.pl/public_python/static/assets/fonts/Jura.ttf");
            src: url("C:/Jura.ttf"); 
        }

        body {
  font-family: Jura;
}

        .items td,
        th {

            text-align: center;
            border: 1px solid gray;
            padding-top: 5px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>Oferta nr: 29/2022</td>
            <td align="right">Warszawa, 31-03-2022</td>
        </tr>

    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><img src="http://system.nesting.pl/static/assets/img/logo.jpg" width="150" /></td>
        </tr>
        <tr>
            <td width="49%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                <tr>
                                    <td style="font-size:15px;">Sprzedawca</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:400; font-size:14px;">Nesting Polska Sp z o.o</td>
                                </tr>
                                <td style="font-size:13px;">Samarytanka 1/30<br> 03-592 Warszawa<br> NIP
                                    524298412<br>ksiegowosc@nestingpolska.pl<br>Tel: 533 333 996</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    </td>
    <td width="51%" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="font-size:15px;" align="right">Nabywca</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:15px;" align="right">Stolarze.eu</td>
            </tr>
            <tr>
                <td style="font-size:13px;" align="right">Al. Gen. Chruściela &quot;Montera&quot; 88m2<br>
                    04-412 Warszawa<br> +48720745045<br>
                    grykajm@gmail.com</td>
            </tr>
        </table>
    </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="items">
                <thead>
                    <tr style="background-color: #0990A6;">
                        <td colspan="2">Nazwa towaru / usługi</td>
                        <td>Ilość</td>
                        <td>Cenna netto</td>
                        <td>Wartość netto</td>
                        <td>VAT %</td>
                        <td>Wartość VAT</td>
                        <td>Wartość brutto</td>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr class="fw-bold" style="background-color: #000; color: white;">
                        <td colspan="3" style="border: none;"></td>
                        <td style="border: none;">Razem:</td>
                        <td style="border: none;">0zł</td>
                        <td style="border: none;"></td>
                        <td style="border: none;">0zł</td>
                        <td style="border: none;">0zł</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </table>
</body>

</html>