{% extends 'main.html' %}
{% load static %}
{% block content %}
{% if request.user.is_staff %}

{% if request.user == cash.user or request.user.is_superuser %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'create-payment' cash.id %}" class="btn btn-danger btn-sm mt-3 mb-3">Dodaj rekord</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'search-payment' %}" class="btn btn-primary btn-sm float-center m-3">Szukaj rekordu</a>
        <a href="{% url 'cash-report' cash.id 'today' %}" class="btn btn-warning btn-sm m-3 float-end">Raport dobowy</a>
        <a href="{% url 'cash-report' cash.id 'week' %}" class="btn btn-light btn-sm m-3 float-end">Raport tygodniowy</a>
        <a href="{% url 'cash-report' cash.id 'month' %}" class="btn btn-dark btn-sm m-3 float-end">Raport miesięczny</a>
        <br>
        {% endif %}
        <div class="card-title">

          <small>
            <p class="float-start">{{ cash.title }} </p>
            <!-- <a href="" class="btn btn-danger btn-sm">Raport tygodniowy</a>
            <a href="" class="btn btn-danger btn-sm">Raport miesięczny</a> -->
            <h6 class="float-end {% if cash.amount > 0 %} text-success {% else %} text-danger {% endif %}">Saldo:
              {{cash.amount }} zł</h6>
          </small>
          <table class="table table-sm text-center  me-2 ">
            <thead>
              <tr>
                <td>ID</td>
                <td>Data <br> Użytkownik</td>
                <td>Tytułem</td>
                <td>Nr wew.</td>
                <td>IW/IY</td>
                <td>Kwota</td>
                <td>Saldo</td>
                <td>Status</td>
                <td colspan="2">Akcja</td>
              </tr>
            </thead>
            <tbody>
              {% for payment in page_obj %}
              <tr class="{% if payment.status != 0 %} table-success {% else %} table-danger {% endif %}">
                <td>{{ payment.id_number }}</td>
                <td>{{ payment.date|date:'d/m/y' }}<br>{{ request.user.first_name }} {{ request.user.last_name|first }}.
                </td>
                <td>{{ payment.title }}</td>
                <td>{{ payment.number }}</td>
                <td>{{ payment.IW_IY }}</td>
                <td class="{% if payment.amount > 0 %} text-success {% else %} text-danger {% endif %}">
                  {{ payment.amount }}zł</td>
                <td>{{ payment.cash_amount }}zł</td>
                <td>{{ payment.get_status_display }}</td>
                <td>
                  {% if payment.status == 0 %}
                  <a href="{% url 'delete-payment' payment.id %}" class="btn btn-danger btn-sm">Usuń</a>
                  {% endif %}
                </td>
                <td>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'update-payment' payment.id %}" class="btn btn-success btn-sm">Szczegóły</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>

          <!-- <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %} -->

              <!-- <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span> -->
<!-- 
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav> -->

          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}